html,
body {
    margin: 0;
    background-color: white;
}

a {
    text-decoration: none;
}

.btn{
    border: none;
    color : rgb(255, 255, 255);
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-size: 20px;
    font-weight: bold;
    margin: 4px 2px;
    cursor: pointer;
    position: absolute ;
    top: 70%;
    left: 39.5%;
    background-color: rgb(240, 193, 40);
}

.btn1{
    border: none;
    color : rgb(255, 255, 255);
    padding: 8px 13px;
    text-align: center;
    display: inline-block;
    font-size: 20px;
    font-weight: bold;
    margin: 1px 1px;
    cursor: pointer;
    position: absolute ;
    top: 90%;
    left: 5%;
    background-color: rgb(240, 193, 40);
}

.btn2{
    border: none;
    color : rgb(255, 255, 255);
    padding: 8px 13px;
    text-align: center;
    display: inline-block;
    font-size: 20px;
    font-weight: bold;
    margin: 1px 1px;
    cursor: pointer;
    position: absolute ;
    top: 90%;
    left: 5%;
    background-color: rgb(240, 193, 40);
}

.btn3{
    border: none;
    color : rgb(255, 255, 255);
    padding: 8px 13px;
    text-align: center;
    display: inline-block;
    font-size: 20px;
    font-weight: bold;
    margin: 1px 1px;
    cursor: pointer;
    position: absolute ;
    top: 90%;
    left: 5%;
    background-color: rgb(240, 193, 40);
}

.btn4{
    border: none;
    color : rgb(255, 255, 255);
    padding: 8px 13px;
    text-align: center;
    display: inline-block;
    font-size: 20px;
    font-weight: bold;
    margin: 1px 1px;
    cursor: pointer;
    position: absolute ;
    top: 90%;
    left: 5%;
    background-color: rgb(240, 193, 40);
}

.btn5{
    border: none;
    color : rgb(255, 255, 255);
    padding: 8px 13px;
    text-align: center;
    display: inline-block;
    font-size: 20px;
    font-weight: bold;
    margin: 1px 1px;
    cursor: pointer;
    position: absolute ;
    top: 90%;
    left: 5%;
    background-color: rgb(240, 193, 40);
}

.btn6{
    border: none;
    color : rgb(255, 255, 255);
    padding: 8px 13px;
    text-align: center;
    display: inline-block;
    font-size: 20px;
    font-weight: bold;
    margin: 1px 1px;
    cursor: pointer;
    position: absolute ;
    top: 90%;
    left: 5%;
    background-color: rgb(240, 193, 40);
}

.btn7{
    border: none;
    color : rgb(255, 255, 255);
    padding: 8px 13px;
    text-align: center;
    display: inline-block;
    font-size: 20px;
    font-weight: bold;
    margin: 1px 1px;
    cursor: pointer;
    position: absolute ;
    top: 90%;
    left: 5%;
    background-color: rgb(240, 193, 40);
}

.btn8{
    border: none;
    color : rgb(255, 255, 255);
    padding: 8px 13px;
    text-align: center;
    display: inline-block;
    font-size: 20px;
    font-weight: bold;
    margin: 1px 1px;
    cursor: pointer;
    position: absolute ;
    top: 90%;
    left: 5%;
    background-color: rgb(240, 193, 40);
}

.btn9{
    border: none;
    color : rgb(255, 255, 255);
    padding: 8px 13px;
    text-align: center;
    display: inline-block;
    font-size: 20px;
    font-weight: bold;
    margin: 1px 1px;
    cursor: pointer;
    position: absolute ;
    top: 90%;
    left: 5%;
    background-color: rgb(240, 193, 40);
}

.btn10{
    border: none;
    color : rgb(255, 255, 255);
    padding: 8px 13px;
    text-align: center;
    display: inline-block;
    font-size: 20px;
    font-weight: bold;
    margin: 1px 1px;
    cursor: pointer;
    position: absolute ;
    top: 90%;
    left: 5%;
    background-color: rgb(240, 193, 40);
}





