html,
body {
    margin: 0;
    background-color: white;
}

h1 {
    color: black;
    text-align: center;
    font-family: monospace;
}

h6 {
    color: black;
    text-align: left;
    font-family: monospace;
    font-size: 14px;
}